*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.active {
    color: #c4ae37;
    text-decoration: underline;
    font-weight: bold;
}
body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #2b303e;
    position: relative;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: antiquewhite;
}

ul {
    list-style: none;
}

.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

header{
    min-height: 100vh;
    width: 100%;
    background-image: url('./pic.webp');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.header-content {
    margin: 100px;
    color: #ffbe0b;
    text-align: left;
    margin-left: 20px;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 5px;
    margin: 10px 0;
    background: #c4ae37;
    border-radius: 5px;
}

.line1 {
    width: 150px;
    height: 5px;
    margin: 10px auto;
    background: #c4ae37;
    border-radius: 5px;
}

.models h1 {
    color: #defad7;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 16px;
    background: #c4ae37;
    border-radius: 30px;
    color: antiquewhite;
}

section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
}

.row img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .col {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.models .row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    color: #e6bf8c;
    margin: 20px auto;
}

.models p {
    font-size: 20px;
    color: #2b303e;
    padding: 0 40px;
    background-color: #e8d461;
    border-radius: 10px;
}

.models .ctn {
    margin-top: 30px;
}

.news {
    width: 100%;
    /* height: 80vh; */
    margin-bottom: 50px;
}

.news h1 {
    text-align: center;
    color: #defad7;
    font-size: 5vmin;
}

/****************** MIDDLE ROW ******************/
.middleRow {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.middleCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middleCol img{
    display: flex;
}
.middleRow p {
    text-align: center;
}

/* Breakpoint for middleRow section */
@media screen and (max-width: 1350px) {
    .middleRow{
        flex-direction: column;
    }
    .middleCol{
        margin: 1.5rem;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    padding-top: 2.5rem;
    margin: 0;
    background: #e8d461;
    text-align: center;
}
.copyright {
    color: #2b303e;
    margin: 0 0 0.15rem 0;
}
.allRightsReserved{
    color: #2b303e;
    margin: 0.15rem 0 0 0;
}

@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #2b303e;

        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }
    /* .middleRow {
        flex-direction: column;
    } */
    p {
        font-size: 15px;
    }
    h4 {
        font-size: 20px;
    }
}

img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.05);
}

.ctn:hover {
    background: #defad7;
    color: #c4ae37;
}

/************************** FIXES **************************/
/* Just renamed "asd" to "middleRow" for better semantic */
/*********** 1) Removed height: 80vh from .news ***********/
/* 2) Changes made from line 166 to line 214 in style.css */
